@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
   
 *{
  transition-property: all; /* Or a specific property like 'width' or 'background-color' */
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.degrad{
  @apply 
    bg-[#ffb0553b]
    w-8/12
    
    rounded-xl
    mx-auto top-2
    backdrop-blur-[2px]
    backdrop-saturate-[180%]
    shadow-[0_8px_32px_rgba(31,38,135,0.1),_inset_0_4px_20px_rgba(255,255,255,0.1)];
}

.degrad::after{
  content: '';
  @apply
    absolute
    top-0 left-0 rounded-xl
    w-full h-full
    bg-[rgba(255,255,255,0.3)]
    backdrop-blur-[1px]
    shadow-[inset_-10px_-8px_0px_-11px_rgba(255,255,255,1),_inset_0px_-9px_0px_-8px_rgba(255,255,255,1)]
    opacity-30
    pointer-events-none;
  
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
  z-index: -1;
}
.white_filter{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(3deg) brightness(107%) contrast(107%);
}


.gradiantButton{
background: #9112BC;
background: linear-gradient(45deg, rgba(145, 18, 188, 1) 0%, rgba(174, 117, 218, 1) 38%, rgba(233, 226, 148, 1) 73%, rgba(255, 252, 184, 1) 100%);
}
.gradiantButtonHover{
background: #9112BC;
background: linear-gradient(180deg, rgba(145, 18, 188, 1) 0%, rgba(174, 117, 218, 1) 38%, rgba(233, 226, 148, 1) 73%, rgba(255, 252, 184, 1) 100%);
}



.product-badge {
   @apply
relative cursor-pointer 

    before:content-['']
    before:absolute
    before:bottom-0
    before:left-1/2
    before:-translate-x-1/2
    before:w-[120%]
    before:h-full
    before:-z-10
    before:bg-[radial-gradient(ellipse_at_bottom,rgba(145,18,188,0.25)_0%,transparent_70%)]

    after:content-['']
    after:absolute
    after:bottom-[-2px]
    after:left-1/2
    after:-translate-x-1/2
    after:w-full
    after:h-[2px]
    after:bg-[linear-gradient(to_right,transparent,theme(colors.prim)_20%,theme(colors.prim)_80%,transparent)]
    after:blur-[0.5px]
}












}








@layer base {

}
